<whkawsf-header></whkawsf-header>

<div class="admin-container">

    <!-- Eingabe und Anzeige der Benutzer -->
    <p class="cat-h1-heading">Users</p>
    <ol>
        <li ng-repeat="user in data.user">
            {{ user | json }}
            <i class="fas fa-edit" ng-click="openToolbox(user, 'UpdateUser')"></i>
            <i class="fas fa-trash-alt" ng-click="delete(user, 'DeleteUser')"></i>
        </li>
    </ol>

    <!-- Eingabe und Anzeige der log-Einträge -->
    <p class="cat-h1-heading">Logs</p>
    <ol>
        <li ng-repeat="log in data.log">
            {{ log | json }}
            <i class="fas fa-edit" ng-click="openToolbox(log, 'UpdateLog')"></i>
            <i class="fas fa-trash-alt" ng-click="delete(log, 'DeleteLog')"></i>
        </li>
    </ol>

</div>
    
<!-- Eingabe, Protokollierung und Anzeige der vorzugebenden Maximaltemperatur -->
<div class="sensor-container" ng-repeat="sensor in data.sensor">
    <whkawsf-sensor
        user='user'
        sensor="sensor"
        toolbox="openToolbox"
        delete="delete"
        hersteller="data.hersteller | custom:{sensor:sensor, name:'hersteller'}"
        temperatur="data.temperatur | custom:{sensor:sensor, name:'temperatur'}"
    ></whkawsf-sensor>
</div>

<!-- Löschen von Temperaturdaten -->
<!-- Ändern und Löschen von Sensordaten. -->


