<!-- Benutzer -->
<div class="row">
    <div class="col-sm">
        <div>
            <h3>Benutzer</h3>

            <label for="basic-url" class="form-label">Benutzer anlegen</label>
            <div class="input-group mb-3">
                <input ng-repeat="(key, value) in user" ng-if="!key.includes('ID')" ng-model="new[key]" class="form-control" type="text" placeholder="{{ key }}" required />
                <span class="input-group-text">
                    <i class="fas fa-plus cursor" ng-click="add(new, 'InsertBenutzer')"></i>
                </span>
            </div>
        </div>
        <div>
            <ol>
                <li ng-repeat="benutzer in data.user" ng-if="user.BenutzerID != benutzer.BenutzerID">
                    {{ benutzer | json }}
                    <i class="fas fa-edit cursor" ng-click="openToolbox(benutzer, 'UpdateBenutzer')"></i>
                    <i class="fas fa-trash-alt cursor" ng-click="delete(benutzer, 'DeleteBenutzer')"></i>
                </li>
            </ol>
        </div>
    </div>
</div>

<!-- Log -->
<div class="row">
    <div class="col-sm">
        <h3>Log</h3>
        <ol>
            <li ng-repeat="log in data.log">
                {{ log | json }}
                <i class="fas fa-trash-alt cursor" ng-click="delete(log, 'DeleteLog')"></i>
            </li>
        </ol>
    </div>
</div>

<!-- Hersteller -->
<div class="row">
    <div class="col-sm">
        <h3>Hersteller</h3>

        <label for="basic-url" class="form-label">Hersteller anlegen</label>
        <div class="input-group mb-3">
            <input ng-model="new['Name']" class="form-control" type="text" placeholder="Name" required />
            <span class="input-group-text">
                <i class="fas fa-plus cursor" ng-click="add(new, 'InsertHersteller')"></i>
            </span>
        </div>

        <ol>
            <li ng-repeat="hersteller in data.hersteller">
                {{ hersteller | json }}
                <i class="fas fa-edit cursor" ng-click="openToolbox(hersteller, 'UpdateHersteller')"></i>
                <i class="fas fa-trash-alt cursor" ng-click="delete(hersteller, 'DeleteHersteller')"></i>
            </li>
        </ol>
    </div>
</div>

<!-- Sensor -->
<div class="row">
    <div>
        <h3>Sensor</h3>

        <label for="basic-url" class="form-label">Sensor anlegen</label>
        <div class="input-group mb-3">
            <input ng-model="new['Name']" class="form-control" type="text" placeholder="Name" required />
            <input ng-model="new['Serverschrank']" class="form-control" type="text" placeholder="Serverschrank" required />
            <input ng-model="new['Adresse']" class="form-control" type="text"placeholder="Adresse" required />
            <input ng-model="new['MaximalTemperatur']" class="form-control" type="text" placeholder="MaximalTemperatur" required />
            <input ng-model="new['HerstellerID']" class="form-control" type="text" placeholder="HerstellerID" required />
            <span class="input-group-text">
                <i class="fas fa-plus cursor" ng-click="add(new, 'InsertSensor')"></i>
            </span>
        </div>
    </div>

    <div class="col-sm" ng-repeat="sensor in data.sensor">
        <whkawsf-sensor
            sensor="sensor"
            temperatur="data.temperatur"
            hersteller="data.hersteller | getHersteller:sensor"
            toolbox="openToolbox"
            delete="delete">
        </whkawsf-sensor>
    </div>
</div>