<div class="wrapper">
  <div id="formContent">
    <div class="tab-title">
        <a class="h3">SignIn</a>
    </div>
    <form>
      <input ng-model="username" for="username" type="text" id="Username" class="" name="uname" placeholder="username" required minlength="3">
      <input ng-model="password" for="password" type="text" id="Password" class="" name="password" placeholder="password" required minlength="3">
      <input ng-click="login()" type="submit" class="" value="Log In">
    </form>
  </div>
</div>