<form>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Username</label>
            <input ng-model="username" type="text" class="form-control" placeholder="Username" required />
        </div>

        <div class="col-md-4 mb-3">
            <label>Password</label>
            <input ng-model="password" type="password" class="form-control" placeholder="Password" required />
        </div>
    </div>

    <button ng-click="login(username, password)" class="btn btn-primary" type="submit">Login</button>
</form>