<div class="container-fluid">
    <!-- todo: header - user info / logout button -->

    <!-- table -->
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" ng-repeat="(key, value) in entries[0]">
                    {{ key | uppercase }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in entries">
                <td ng-repeat="(key, value) in entry">
                    {{ key === 'zeit' ? (value | date : "medium") : value }}
                </td>
            </tr>
          </tbody>
    </table>

    <!-- chart -->
    <canvas id="chart" width="400" height="400"></canvas>

</div>