<div>
    <h3>Sensor: {{ data.sensor.SensorID }}</h3>
    <i class="fas fa-edit cursor" ng-click="openToolbox(data.sensor, 'UpdateSensor')" ng-if="path !== '/main' && user.Administrator"></i>
    <i class="fas fa-trash-alt cursor" ng-click="delete(data.sensor, 'DeleteSensor')" ng-if="path !== '/main' && user.Administrator"></i>

    <ul>
        <li>Adresse: {{ data.sensor.Adresse }}</li>
        <li>Serverschrank: {{ data.sensor.Serverschrank }}</li>
        <li>Max. Temperatur: {{ data.sensor.MaximalTemperatur + ' °C' }}</li>
        <li>H&ouml;chster Wert: {{ data.temperatur | greatest:data.sensor }}</li>
        <li>Durchschnitt: {{ data.temperatur | average:data.sensor }}</li>
        <li>Hersteller: {{ data.hersteller.Name }}</li>
        <li ng-if="data.temperatur.length === 0">Keine Messwerte!</li>
    </ul>

    <whkawsf-table sensor="data.sensor" delete="delete" temperatur="data.temperatur"></whkawsf-table>
</div>