<select id="filter">
    <option value="a">alles</option>
    <option value="b">alle Sensoren mit Herstellerdaten</option>
    <option value="c">alle Sensoren mit Temperaturwerten</option>
    <option value="d">Temperaturwerte mit Sensor und Herstellerdaten</option>
    <option value="e">letzten 10 Temperaturwerte</option>
    <option value="f">absteigend Sortiert</option>
    <option value="g">höchste Temperatur</option>
    <option value="h">durchschnittliche Temperatur</option>
</select>