<nav class="navbar navbar-light bg-light sticky-top" ng-if="user">
    <a ng-href="#!/main" class="navbar-brand">Dashboard</a>

    <ul class="nav justify-content-center mr-auto nav-pills">
        <li class="nav-item">
            <span class="nav-link">{{ user.Anmeldename }}</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" ng-class="{'disabled': user.Administrator < 1}" ng-href="#!/admin">Adminbereich</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" ng-href="#!/logout">Logout</a>
        </li>
    </ul>

</nav>