<!DOCTYPE html>
<head>
		<title>Temperaturverwaltung</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='author' content='Nils Schuetzke, Karl-Hubert Herre, Daniel Kock, Michael Bluemler'>
		<!-- hier kommt noch SEO-zeugs hin -->
		<link rel='stylesheet' href='/static/css/main.css' />
</head>
<body>
	<div class="container-fluid">
		<!-- todo -->
		<p>Hello World!</p>
	</div>

	<script src='/static/js/main.js' type='text/javascript'></script>
</body>
</html>