<div class="container-fluid">
    <%- include('../partials/select'); %>
    <table class="table">
        <thead>
            <tr id="tableHead"></tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>