<select
    ng-show="entries.length > 0"
    ng-model="selectedFilter"
    ng-options="option as option.name for option in filterOptions"
    ng-init="selectedFilter=filterOptions[0]">
</select>

</br>

<table class="table table-hover table-bordered" ng-if="entries.length > 0">
    <thead>
        <tr>
            <th scope="col" ng-repeat="(key, value) in entries[0]" ng-if="key !== 'SensorID'">
                {{ key | uppercase }}
            </th>
            <th scope="col" ng-if="isAdmin">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in entries | orderBy: customOrderBy:selectedFilter.option" ng-if="entry.SensorID == sensor.SensorID">
            <td ng-repeat="(key, value) in entry" ng-if="key !== 'SensorID'">
                {{ key === 'Zeit' ? (value | date : "medium") : value }}
            </td>
            <td ng-if="isAdmin">
                <i class="fas fa-trash-alt" ng-click="delete(entry, 'DeleteTemperatur')"></i>
            </td>
        </tr>
      </tbody>
</table>