<select
    ng-model="selectedFilter"
    ng-options="option as option for option in filterOptions"
    ng-init="selectedFilter=filterOptions[0]"
    ng-change="filterChange()">
</select>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col" ng-repeat="(key, value) in entries[0]">
                <!-- sensorId ausblenden -->
                {{ key | uppercase }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in entries | limitTo: 10 | orderBy: selectedFilter">
            <td ng-repeat="(key, value) in entry">
                <!-- sensorId ausblenden -->
                {{ key === 'Zeit' ? (value | date : "medium") : value }}
            </td>
        </tr>
      </tbody>
</table>