* {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/* NAVBAR */ 
.navbar-brand {
    font-size: 1.75rem;
}

/* MAIN */
.main-container {
    padding: 0px 25px 0px 25px;
}

.cat-heading {
    font-size: 1.25rem;
    padding: 25px 0px 0px
}

.cat-h1-heading {
    font-size: 1.5rem;
    padding: 25px 0px 0px;
}

.sensor-container {
    display: inline-flex;
    width: 33%;
}

.sensor-edit {
    cursor: pointer;
    width: 150px;
}

@media only screen and (max-width: 1315px) {
    .sensor-container {
        display: inline;
    }
}

@media only screen and (max-width: 475px) {
    .sensor-container {
        display: none;
    }
}

/* ADMIN */
.admin-container {
    padding: 0px 25px 0px 25px;
}

/* SELECT */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0;
  margin: 0px 0px 10px 0px;
  width: auto;
  height: 2.5em;
  line-height: 2.5;
  background: #5fbae9;
  border-radius: .25em;
  padding: 0 .5em;
  color: #f6f6f6;
  cursor: pointer;
}

select::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background-color: #f6f6f6;
    color: #5fbae9;
    border-color: #5fbae9;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}