* {
    margin: 0;
    padding: 0;
}

/* HEADER */
.header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

/* NAVBAR */ 
.navbar-brand {
    font-size: 1.75rem;
}

/* MAIN */
.main-container {
    padding: 0px 25px 0px 25px;
}

.cat-heading {
    font-size: 1.25rem;
    padding: 25px 0px 0px
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0;
  margin: 0px 0px 5px 0px;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #5fbae9;
  border-radius: .25em;
  padding: 0 .5em;
  color: #f6f6f6;
  cursor: pointer;
}

.select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5fbae9;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}