<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
	<div class="container">
		<header>
			<%- include('../partials/header'); %>
		</header>

		<main>
			<%- include('../partials/table'); %>
		</main>
	
		<footer>
			<%- include('../partials/footer'); %>
		</footer>
	</div>
	
	<script src='/static/vendor/bootstrap/js/bootstrap.js' type='text/javascript'></script>
	<script src='/static/vendor/fontawesome/js/all.js' type='text/javascript'></script>
	<script src='/socket.io/socket.io.js' type='text/javascript'></script>
	<script src='/static/js/main.js' type='text/javascript'></script>
</body>

</html>